@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

:root {
    --grad : linear-gradient(
        45deg,
        /* #64dfdf, */
        #56cfe1,
        #5390d9,
        #5e60ce,
        #028090
    );
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0087ad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    font-family: 'Onest';
    color: antiquewhite;
}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

body{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color: #a5ffd6;
    height: 100vh;
    background-image: var(--grad);
    background-size: 700%;
    animation: bg-animation 3s infinite alternate;
    overflow: visible;
}

@keyframes bg-animation{
    0% {background-position: left}
    100% {background-position: right}
}

.dp{
    width: 50px;
    height: 50px;
    background-color: black;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.profilePic{
    width: 90%;
    height: 90%;
}

.createBtn{
    font-size: 1.3rem;
    margin: 0 10px;
}

h2{
    font-size: 3rem;
}

.intform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_interests{
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: #84aa9f;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    padding: 80px;
    width: 80vw;
}

.submit-btn input[type="submit"]{
    width: 7em;
    height: 2em;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: #064849;
    font-size: 1.3rem;
    transition: 0.5s;
    color: whitesmoke;
}

.submit-btn input[type="submit"]:hover{
    width: 7.2em;
    height: 2.2em;
}


.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-16 .checkbox-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-icon,
  .checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  .checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
  }

  .checkbox-wrapper-16 .checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #f7f5fb;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-16 .checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .checkbox-wrapper-16 .checkbox-tile:hover {
    border-color: #2260ff;
  }
  .checkbox-wrapper-16 .checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }

  .checkbox-wrapper-16 .checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
  }
  .checkbox-wrapper-16 .checkbox-icon svg {
    width: 3rem;
    height: 3rem;
  }

  .checkbox-wrapper-16 .checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
  }
